{% extends "base.html.twig" %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>
{% endblock %}
{% block body %}
<style>
    .label-success {
        height: 21px;
    }

    .challenge-bloc {
        width: 350px;
        height: 420px;
        border: 1px solid black;
        padding: 10px;
        margin: 5px;
        display: flex;
        flex-direction: column !important;
    }
    .challenge-bloc img{
        width: 100%
    }

    .container-challenge{
        display: flex;
    }
    .margbtn{
        margin-bottom: 10px;
    }
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdeys">
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <h2>John Doe</h2>
                <img src="https://www.leparisien.fr/resizer/iN2tTjJPxJb1wsW9ntLBKMR6QS4=/932x582/cloudfront-eu-central-1.images.arcpublishing.com/leparisien/ZNYF6PYBSVPAM5PJI655HMAVOM.jpg"
                    alt="" class="profile-img img-responsive center-block">

                <div class="profile-stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>Super User</span>
                </div>

                <div class="profile-details">
                    <ul class="fa-ul">
                        Correcteur: <span>10</span></li>
                        <li>{% if app.user.correctorExlvl < 50 %}
                            <img src="https://image.flaticon.com/icons/png/128/2583/2583434.png" width="15%">
                            </img>{% endif %}
                        <li>{% if app.user.correctorExlvl >= 50 and app.user.correctorExlvl < 500%}
                            <img src="https://image.flaticon.com/icons/png/128/2583/2583319.png"
                                width="15%"></img>{% endif %}
                        <li>{% if app.user.correctorExlvl >= 500 %}
                            <img src="https://image.flaticon.com/icons/png/128/744/744984.png" width="15%">
                            </img>{% endif %}

                    </ul>
                    <ul class="fa-ul">
                        Challenge: <span>{{app.user.correctorQlvl}}</span></li>
                        <li>{% if app.user.correctorQlvl < 50 %}
                            <img src="https://image.flaticon.com/icons/png/128/2583/2583434.png" width="15%">
                            </img>{% endif %}
                        <li>{% if app.user.correctorQlvl >= 50 and app.user.correctorQlvl < 500%}
                            <img src="https://image.flaticon.com/icons/png/128/2583/2583319.png"
                                width="15%"></img>{% endif %}
                        <li>{% if app.user.correctorQlvl >= 500 %}
                            <img src="https://image.flaticon.com/icons/png/128/744/744984.png" width="15%">
                            </img>{% endif %}

                    </ul>

                    <ul class="fa-ul">
                        Création de challenge: <span>{{app.user.creatorQlvl }}</span></li>
                        <li>{% if app.user.creatorQlvl < 50 %}
                            <img src="https://image.flaticon.com/icons/png/128/2583/2583434.png" width="15%">
                            </img>{% endif %}
                        <li>{% if app.user.creatorQlvl >= 50 and app.user.creatorQlvl < 500%}
                            <img src="https://image.flaticon.com/icons/png/128/2583/2583319.png"
                                width="15%"></img>{% endif %}
                        <li>{% if app.user.creatorQlvl >= 500 %}
                            <img src="https://image.flaticon.com/icons/png/128/744/744984.png" width="15%">
                            </img>{% endif %}

                    </ul>
                </div>

                <div class="profile-message-btn center-block text-center d-flex m-5">
                    <a href="{{ path('challenge_new') }}" class="btn margbtn btn-success">
                         Création d'un challenge
                    </a>
                    <a href="{{ path('challenge_index') }}" class="btn margbtn btn-success">
                       Correction de challenge
                    </a>
                    <a href="{{ path('challenge_index') }}" class="btn margbtn btn-success">
                       accèder  aux challenges
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="profile-header">
                    <h3><span>User info</span></h3>

                </div>

                <div class="row profile-user-info">
                    <div class="col-sm-8">
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                First Name
                            </div>
                            <div class="profile-user-details-value">
                                John
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Last Name
                            </div>
                            <div class="profile-user-details-value">
                                Doe
                            </div>
                        </div>

                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Email
                            </div>
                            <div class="profile-user-details-value">
                                johndoe@bootdey.com
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4 profile-social">
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-twitter-square"></i><a href="#">@scjohansson</a></li>
                            <li><i class="fa-li fa fa-linkedin-square"></i><a href="#">John Doe </a></li>
                            <li><i class="fa-li fa fa-facebook-square"></i><a href="#">John Doe </a></li>
                            <li><i class="fa-li fa fa-skype"></i><a href="#">Black_widow</a></li>
                            <li><i class="fa-li fa fa-instagram"></i><a href="#">Avenger_Scarlett</a></li>
                        </ul>
                    </div>
                </div>

                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li><a href="{{ path('profile_show') }}" data-toggle="tab">Challenges créés</a></li>
                        <li><a href="#tab-friends" data-toggle="tab">Mes challenges</a></li>
                        <li class="active"><a href="{{ path('profile_pending') }}" data-toggle="tab">Mes corrections</a>
                        </li>
                    </ul>





                    <div class="conversation-content">
                        <div class="row">
                            <div class="col-12 container-challenge flex-row">
                                <div class="challenge-container d-flex ">
                                    {% for challenge in challenges %}
                                    {% if challenge.status > 0  %}
                                    <div class="challenge-bloc d-flex flex-column">
                                        <img src="https://1.bp.blogspot.com/-Md4dhiE7FnY/XowkpY5-8LI/AAAAAAAA4IM/T7lTXZZY1MUmn1mUYkEccCb76vltpQZQwCLcBGAsYHQ/s1600/javascript-et-css-1.jpg"
                                            class="img-fluid w-100" alt="">
                                        <p> {{ challenge.title }} </p>
                                        <p> {{ challenge.description }} </p>
                                        <p>Challenge réalisé par Mark ZUCKERBERG</p>
                                        <div class="d-flex justify-content-between">
                                            <a href="{{ path('challenge_show',{"id": challenge.id }) }}"><button
                                                    type="button" class="btn btn-primary">Refusé le
                                                    28/06/2021</button></a>
                                            <span class="label-danger">Refused</span>
                                        </div>
                                    </div>

                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="challenge-container d-flex ">
                                    <div class="challenge-bloc d-flex flex-column">
                                        <img src="https://www.softfluent.fr/wp-content/uploads/2019/10/angularjs.png"
                                            class="img-fluid" alt="">
                                        <p>Angular JS: Apprenner a consommer des API REST </p>
                                        <p> il existe différentes façons de consommer les API REST dans nos
                                            applications, ces méthodes incluent l'utilisation de la méthode
                                            JavaScript... </p>
                                        <p>Challenge réalisé DUPONT Rémi</p>
                                        <div class="d-flex justify-content-between">
                                            <a href=""><button type="button" class="btn btn-primary">Corrigé le
                                                    30/06/2021</button></a>
                                            <span class="label-success">Accepted</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
